<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CompteurUniversal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CompteurVision.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CompteurWatch Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB44DCE42B9A02DD00466340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB44DCF52B9A02DE00466340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB44DCFF2B9A02DE00466340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB44DD1B2B9A382C00466340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB44DD2A2B9A382D00466340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB44DD342B9A382D00466340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
